/* CSS หลัก */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    display: block;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.imgja {
    width: 12px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #FFE8D5;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    color: #B4753E;
}


/* CSS navbar */

.icon_down {
    width: 12px;
}

.piclogo {
    width: 30px;
}

.center {
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.navbar {
    /* bar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE8D5;
    color: #B4753E;
    height: 55px;
}

.logo {
    font-size: 30px;
    margin: 10px;
    margin-left: 20px;
}

.navbar-links ul {
    /* พื้นที่ทั้งหมดของlinks */
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    display: flex;
}

@media screen and (min-width:861px) {
    .navbar-links li {
        /* ปุ่ม */
        width: 117px;
        list-style: none;
        margin-right: 10px;
        background-color: white;
        border-radius: 30px;
        text-align: center;
        /* border: 1px solid #707070; */
        border: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
    .navbar-links li:hover {
        background-color: #B4753E;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
    }
}

.navbar-links li a {
    /* ข้างในปุ่ม ex.สีตัวอักษร */
    text-decoration: none;
    color: black;
    padding: 10px;
    display: inline-block;
}


/* .navbar-links a:hover {
    color: white;
} */


/* ปุ่มตอนย่อ */

.toggle-button {
    position: absolute;
    top: 16px;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .line {
    height: 3px;
    width: 100%;
    background-color: #B4753E;
}


/* dropdowm */

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: #B4753E;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width:860px) {
    .logo {
        margin: 10px;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links a {
        width: 100%;
        text-align: center;
    }
    .navbar-links.active {
        display: block;
    }
    .navbar-links li {
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar-links a:hover {
        background-color: rgb(255, 255, 255);
        color: #B4753E;
    }
    .dropdown-content {
        width: 100%;
        display: none;
        position: absolute;
        background-color: #FFE8D5;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    }
    li .dropdown-content a {
        text-decoration: none;
        display: block;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width:660px) {
    .logo {
        margin: 10px;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li {
        text-align: center;
        border-radius: 0px;
        width: 100%;
    }
    .navbar-links a {
        width: 100%;
        text-align: center;
    }
    .navbar-links.active {
        display: block;
    }
    .navbar-links li:hover {
        background-color: #ffffff;
    }
    .navbar-links li {
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar-links a:hover {
        background-color: #ffffff;
    }
    .dropdown-content {
        width: 100%;
        display: none;
        position: absolute;
        background-color: #FFE8D5;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    }
    li .dropdown-content a {
        text-decoration: none;
        display: block;
        text-align: center;
        width: 100%;
    }
}


/* CSS booking & detail */

input {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

textarea {
    resize: none;
    border-radius: 10px;
}

.center {
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.span1 {
    display: grid;
    grid-template-columns: 25% 75%;
}

.span2 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
}

.span3 {
    display: grid;
    grid-template-columns: 25% 50% 25%;
}


/* CSS booking */

fieldset {
    font-size: 90%;
    margin: auto;
    width: 600px;
    padding: 2%;
    background-color: #FFE8D5;
    border: 1px solid #707070;
    color: #B4753E;
    margin-bottom: 3%;
}

.textarea_booking textarea {
    height: 25px;
    width: 110px;
}

.head3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.head3 .topic3 {
    display: grid;
    grid-template-columns: 20% 25% 25% auto;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
}

.topic3 #head {
    margin-top: 12px;
    margin-left: 30px;
    margin-bottom: 12px;
}

.topic3 #topic {
    text-align: center;
    margin-right: 10px;
    margin-top: 12px;
}

.span1 #hotal_name {
    margin-top: 10px;
    height: 25px;
    width: 250px;
}

.span1 #head4 {
    margin-top: 15px;
}

.span1 #topic4 {
    margin-top: 15px;
}

.span1 #topic2 {
    margin-top: 15px;
}

.span1 #booking_note {
    margin-top: 15px;
}

.span2 #address {
    grid-column: 3 / span 2;
}

.span2 #topic3 {
    padding-bottom: 10px;
    margin-left: ๅถpx;
}

.Howsick_all {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.Howsick_all #Howsick1 {
    padding-bottom: 3px;
}

.Howsick_all #Howsick2_1 {
    padding-bottom: 3px;
    grid-column: 1 / span 2;
}

.Howsick_all #Howsick2_2 {
    padding-bottom: 3px;
    grid-column: 3 / span 2;
}

.Howsick_all #Howsick3 {
    grid-column: 1 / span 4;
}

.textarea_booking {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 15% 30% 25% 30%;
}

.textarea_booking #topic4 {
    grid-column: 1 / span 1;
    margin-left: 5px;
    padding-bottom: 5px;
}

.textarea_booking #topic5 {
    grid-column: 3 / span 1;
    margin-left: 30px;
    padding-bottom: 5px;
}

.span2 #head1 {
    grid-column: 1 / span 2;
}

.span2 #topic1 {
    margin-left: 30px;
    grid-column: 4 / span 1;
}

.span2 #total_price {
    font-size: 28px;
}

.span2 #confirm {
    margin-top: 20px;
    grid-column: 4 / span 1;
    background-color: #BF7C41;
    color: #ffffff;
}

.span2 #cancel {
    margin-top: 20px;
    grid-column: 1 / span 1;
    background-color: #d12222;
    color: #ffffff;
}


/* CSS detail */

.detail_page1 fieldset {
    font-size: 90%;
    margin: auto;
    width: 750px;
    padding: 2%;
    border: 1px solid #707070;
    color: #B4753E;
    margin-bottom: 3%;
}

.detail_page2 fieldset {
    font-size: 90%;
    margin: auto;
    width: 750px;
    background: #ffffff;
    border: 1px solid #707070;
    color: #B4753E;
    margin-bottom: 3%;
}

.detail_page1 .span1 {
    display: grid;
    grid-template-columns: 20% 15% 20% auto;
}

.span1 .samerow {
    grid-column: 3 / span 2;
}

.detail_page1 .span2 {
    display: grid;
    grid-template-columns: 30% 20.5% auto;
}

.detail_page1 .span2 #head1 {
    grid-column: 1 / span 1;
}

.span2 #head1 {
    margin-top: 15px;
}

.span2 #head2 {
    margin-top: 20px;
    grid-column: 2 / span 2;
    text-align: right;
}

.howsick_note {
    /* margin-bottom: 25px; */
    display: grid;
    grid-template-columns: 30% auto;
}

.howsick_note #how_sick {
    margin-left: 35px;
    text-align: center;
    text-align: left;
}

.howsick_note #hotel_note {
    margin-left: 35px;
    text-align: center;
    text-align: left;
}

.samerow #start_deal {
    padding-bottom: 25px;
}

.detail_page1 .span1 #head2 {
    padding-left: 20px;
    margin: 0px;
}

.detail_page1 .numberAll_cat {
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: 32% auto auto auto;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
}

.numberAll_cat #head {
    margin-left: 40px;
}

.span3 {
    text-align: center;
}

.span3 #cancel_booking {
    background-color: #cf1717;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 70px;
}

.span3 #close {
    background-color: #B4753E;
    color: #ffffff;
    margin: 20px;
    grid-column: 3 / span 1;
}

.span3 #topic1 {
    grid-column: 2 / span 1;
}

.span3 #total_price {
    font-size: 28px;
}

@media screen and (max-width:660px) {
    .logo {
        margin: 10px;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links a {
        width: 100%;
        text-align: center;
    }
    .navbar-links.active {
        display: block;
    }
    .navbar-links li {
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar-links li:hover {
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar-links a:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .dropdown-content {
        width: 100%;
        display: none;
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    }
    .dropdown-content a {
        text-decoration: none;
        display: block;
        text-align: center;
    }
}