@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    display: block;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.piclogo{
width: 29px;
}
/* Header & footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #FFE8D5;
}
.center {
    text-align: center;
    margin: auto;
    margin-top: 2%;
}
/* menu-bar */
.imgja {
    width: 12px;
}
.navbar {
    /* bar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE8D5;
    color: #B4753E;
    height: 55px;
}
.logo {
    font-size: 30px;
    margin: 10px;
    margin-left: 20px;
}
.navbar-links ul {
    /* พื้นที่ทั้งหมดของlinks */
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    display: flex;
}
@media screen and (min-width:861px) {
    .navbar-links li {
        /* ปุ่ม */
        width: 117px;
        list-style: none;
        margin-right: 10px;
        background-color: white;
        border-radius: 30px;
        text-align: center;
        /* border: 1px solid #707070; */
        border: none;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
    .navbar-links li:hover {
        background-color: #B4753E;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
    }
}
.navbar-links li a {
    /* ข้างในปุ่ม ex.สีตัวอักษร */
    text-decoration: none;
    color: black;
    padding: 10px;
    display: inline-block;
}
/* ปุ่มตอนย่อ */
.toggle-button {
    position: absolute;
    top: 16px;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .line {
    height: 3px;
    width: 100%;
    background-color: #B4753E;
}
/* dropdowm */
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    color: #B4753E;
}
.dropdown:hover .dropdown-content {
    display: block;
}
@media screen and (max-width:860px) {
    .logo {
        margin: 10px;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links a {
        width: 100%;
        text-align: center;
    }
    .navbar-links.active {
        display: block;
    }
    .navbar-links li {
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar-links a:hover {
        background-color: rgb(255, 255, 255);
        color: #B4753E;
    }
    .dropdown-content {
        width: 100%;
        display: none;
        position: absolute;
        background-color: #FFE8D5;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    }
    li .dropdown-content a {
        text-decoration: none;
        display: block;
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width:660px) {
    .logo {
        margin: 10px;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li {
        text-align: center;
        border-radius: 0px;
        width: 100%;
    }
    .navbar-links a {
        width: 100%;
        text-align: center;
    }
    .navbar-links.active {
        display: block;
    }
    .navbar-links li:hover {
        background-color: #ffffff;
    }
    .navbar-links li {
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar-links a:hover {
        background-color: #ffffff;
    }
    .dropdown-content {
        width: 100%;
        display: none;
        position: absolute;
        background-color: #FFE8D5;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    }
    li .dropdown-content a {
        text-decoration: none;
        display: block;
        text-align: center;
        width: 100%;
    }
}

.container {
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    grid-template-columns:2% 50% auto 2%;
    display: grid;
    grid-gap: 20px;
    height: 630px;
    margin-top: 10px;
}

.searchLeft {
    grid-column: 2/3;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    /* margin: 10px; */
}

#search {
    width: 99%;
    height: 20px;
    margin-bottom: 1%;
}

.blogSearch {
    height: 400px;
    padding: 10px;
    background-color: #FFE8D5;
    overflow-y: scroll;
    border-radius: 10px;
}

.blog {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.blogBtn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.blogBtn button {
    padding: 5px 20px 5px 20px;
    border: 1px solid #707070;
    margin-left: 20px;
    border-radius: 25px;
    height: 30px;
    cursor: pointer;
}
.blogBtn .infoBtn{
    background-color:#C9C9C9;
    width: 90px;
    border-radius: 100px;
    padding: 1%;
    border: 1px solid #707070;
    
}
.blogBtn .booking {
    background-color:#B4753E;
    width: 90px;
    border-radius: 100px;
    padding: 1%;
    border: 1px solid #707070; 
}
a >.booking{
    color: white;
}
.searchRight {
    grid-column: 3/4;
    background-color: #619fc4;
    width: 100%;
    height: 500px;
    /* margin-top:10vh; */
}
#map {
    width: 100%;
    height: 100%;
    border: 0;
    
}
#myMap {
    width: 100%;
    height: 100%;
    border: 0;
    
}
h4,h3,h5{
    margin: 0%;
    margin-bottom: 1%;
}
p{
    margin: 0;
    font-size: small;
}

/* ShowInfo */
.bgShow{
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display:none;
}
.ShowInfo{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border:1px solid #707070;
    padding:1%;
    width: 80%;
    /* height: 500px; */
    display: block;
    margin: auto;
    margin-top: 15vh;
}
#Close{
    margin-left: auto;
    width: 20px;
    cursor: pointer;
}
.cancel{
    width: 100%;
}
.grid-ShowInfo{
    grid-template-columns: 50% auto;
    display: grid;
    grid-gap:10px;
    height: 100%;
}
#left{
    grid-column: 1/2;
    grid-template-rows: 50% auto;
    display: grid;
    grid-gap:10px;
}
#HostInfo{
    background-color: #FFE8D5;
    padding: 2%;
    border-radius: 10px;
}
bigfont{
    font-weight: bold;
    font-size: 20px;
}
h3{
    font-weight: normal;
    font-size: 15px;
}
/* button */
.button-HostInfo{
    margin-top:5%;
    display: block;
    text-align: center;
}
.Link-FB{
    background-color:#C9C9C9;
    width: 90px;
    border-radius: 100px;
    padding: 1%;
    border: 1px solid #707070;
}
.booking{
    background-color:#B4753E;
    width: 90px;
    border-radius: 100px;
    padding: 1%;
    border: 1px solid #707070;
    color:rgb(255, 255, 255);
}
a{
    text-decoration: none;
}
a#Link-FB{
    color:black;
}

#review{
    grid-row: 2/3;
    background-color: #FFE8D5;
    padding: 2%;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: 240px; 
}
.Review{
    padding: 2%;
    background-color: hsla(0, 0%, 100%, 0.5);
    border-radius: 10px;
    margin-bottom: 2%;
}
#right{
    grid-column: 2/3; 
}