@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    display: block;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #FFE8D5;
}

h2 {
    text-align: center;
    margin: 2%;
    font-size: 100%;
    color: #B4753E;
}

fieldset {
    font-size: 90%;
    margin: auto;
    width: 400px;
    padding: 2%;
    background-color: #FFE8D5;
    border: 1px solid #707070;
}

.button {
    height: 26px;
    width: 80px;
    background-color: #B4753E;
    border-radius: 100px;
}

.center {
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE8D5;
    color: #B4753E;
    height: 55px;
}

.logo {
    font-size: 20px;
    margin: 10px;
    margin-left: 50px;
}

.navbar-links ul {
    margin: 0px;
    margin-right: 50px;
    padding: 0px;
    display: flex;
}

.navbar-links li {
    list-style: none;
    margin-right: 10px;
    background-color: white;
    border-radius: 30px;
}

.navbar-links li a {
    text-decoration: none;
    color: #707070;
    padding: 10px;
    display: block;
}

.navbar-links li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.toggle-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .line {
    height: 3px;
    width: 100%;
    background-color: #B4753E;
}

@media screen and (max-width:660px) {
    .logo {
        margin: 10px;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links a {
        width: 100%;
        text-align: center;
    }
    .navbar-links.active {
        display: block;
    }
    .navbar-links li {
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar-links li:hover {
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar-links a:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}