@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    display: block;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
/* icon_down */
.icon_down {
    width: 12px;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #FFE8D5;
}
h2 {
    text-align: center;
    margin: 2%;
    font-size: 100%;
    color: #B4753E;
}

fieldset {
    font-size: 90%;
    margin: auto;
    width: 400px;
    padding: 2%;
    background-color: #FFE8D5;
    border: 1px solid #707070;
}

.center {
    text-align: center;
    margin: auto;
    margin-top: 2%;
}
/* menu-bar */

.navbar {
    /* bar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFE8D5;
    color: #B4753E;
    height: 55px;
}

.logo {
    font-size: 30px;
    margin: 10px;
    margin-left: 20px;
}

.navbar-links ul {
    /* พื้นที่ทั้งหมดของlinks */
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    display: flex;
}

@media screen and (min-width:861px) {
    .navbar-links li {
        /* ปุ่ม */
        width: 117px;
        list-style: none;
        margin-right: 10px;
        background-color: white;
        border-radius: 30px;
        text-align: center;
        /* border: 1px solid #707070; */
        border: none;
    }
    .navbar-links li:hover {
        background-color: #B4753E;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    }
}

.navbar-links li a {
    /* ข้างในปุ่ม ex.สีตัวอักษร */
    text-decoration: none;
    color: black;
    padding: 10px;
    display: inline-block;
}

/* .navbar-links a:hover {
    color: white;
} */

/* ปุ่มตอนย่อ */

.toggle-button {
    position: absolute;
    top: 16px;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .line {
    height: 3px;
    width: 100%;
    background-color: #B4753E;
}

/* dropdowm */

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: #B4753E;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width:860px) {
    .logo {
        margin: 10px;
    }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links a {
        width: 100%;
        text-align: center;
    }
    .navbar-links.active {
        display: block;
    }
    .navbar-links li {
        background-color: rgba(255, 255, 255, 0);
    }
    .navbar-links a:hover {
        background-color: rgb(255, 255, 255);
        color: #B4753E;
    }
}

@media screen and (max-width:659px) {
    form {
        width: 90%;
    }
}

@media screen and (max-width:525px) {
    form {
        width: 80%;
    }
    input.email, input.password, input.firstname, input.lastname, input.tel {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    h4{
        margin: 0px 0px 5px 0px
    }
}